DISCORD_TOKEN=xxx
DISCORD_CLIENT_ID=xxx
DISCORD_GUILD_ID=xxx
GOOGLE_CLIENT_ID=xxx-xxxx.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=GOCSPX-xxxx
GOOGLE_REDIRECT_URI=http://xxx/oauth2callback
SESSION_SECRET=xxx
